.bg{
    background: #f4f5f7;
    min-width: 1280px;
    position: relative;
    min-height: 100vh;
}

.content{
    box-sizing: border-box;
    width: 1280px;
    margin: 10px auto;
    padding-bottom: 250px;
}



