.bg{
    background: #f4f5f7;
    min-height: 1280px;
    position: relative;
}

.content{
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 300px;
    // margin-top: 10px;
    // min-height: 100vh;
}



